In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
import scipy.stats

import seaborn as sns

# Reading and examining the datasets

Checking the hibernation data and loading it into a dataframe.

In [2]:
!head -n 5 'data/HibernationSurveyObservations.csv'

observationID,recordKey,organisationName,datasetKey,surveyKey,sampleKey,gridReference,precision,siteKey,siteName,featureKey,startDate,endDate,dateType,recorder,determiner,pTaxonVersionKey,taxonName,authority,commonName,taxonGroup,sensitive,zeroAbundance,fullVersion
463166539,1767,The Bat Conservation Trust,GA000612,1,1,SM90,10km,,,150161,12/02/2006,12/02/2006,Day,,,NBNSYS0100004720,Pipistrellus pygmaeus,"(Leach, 1825)",Soprano Pipistrelle,terrestrial mammal,false,false,false
463166623,4325,The Bat Conservation Trust,GA000612,1,1,TL65,10km,,,168651,21/12/2008,21/12/2008,Day,,,NHMSYS0020001355,Pipistrellus pipistrellus sensu stricto,"(Schreber, 1774)",Common Pipistrelle,terrestrial mammal,false,false,false
463166624,4326,The Bat Conservation Trust,GA000612,1,1,TL65,10km,,,168651,18/01/2009,18/01/2009,Day,,,NHMSYS0020001355,Pipistrellus pipistrellus sensu stricto,"(Schreber, 1774)",Common Pipistrelle,terrestrial mammal,false,false,false
463166625,4327,The Bat Conservation Trust,GA000612,1,1,TL65,10km,,,168651,15/02/2009,15/02/2009,Day,,,NHMSYS0020001355,Pipistrellus pipistrellus sensu stricto,"(Schreber, 1774)",Common Pipistrelle,terrestrial mammal,false,false,false

In [3]:
!tail -n 5 'data/HibernationSurveyObservations.csv'

463184995,20315,The Bat Conservation Trust,GA000612,1,1,TQ35,10km,,,160693,20/01/2013,20/01/2013,Day,,,NHMSYS0000528030,Myotis mystacinus/brandtii,null,Whiskered/Brandt's Bat,terrestrial mammal,false,false,false
463185027,16096,The Bat Conservation Trust,GA000612,1,1,TQ21,10km,,,162216,08/01/2005,08/01/2005,Day,,,NHMSYS0000528030,Myotis mystacinus/brandtii,null,Whiskered/Brandt's Bat,terrestrial mammal,false,false,false
463185029,16098,The Bat Conservation Trust,GA000612,1,1,TQ21,10km,,,162216,20/02/2005,20/02/2005,Day,,,NHMSYS0000528030,Myotis mystacinus/brandtii,null,Whiskered/Brandt's Bat,terrestrial mammal,false,false,false
463185031,16103,The Bat Conservation Trust,GA000612,1,1,TQ31,10km,,,165960,20/02/2005,20/02/2005,Day,,,NHMSYS0000528030,Myotis mystacinus/brandtii,null,Whiskered/Brandt's Bat,terrestrial mammal,false,false,false
463185032,17955,The Bat Conservation Trust,GA000612,1,1,TQ31,10km,,,165960,03/02/2008,03/02/2008,Day,,,NHMSYS0000528030,Myotis mystacinus/brandtii,null,Whiskered/Brandt's Bat,terrestrial mammal,false,false,false

In [4]:
hibernation_df = pd.read_csv('data/HibernationSurveyObservations.csv', engine='python')

In [5]:
hibernation_df.head()

,observationID,recordKey,organisationName,datasetKey,surveyKey,sampleKey,gridReference,precision,siteKey,siteName,...,recorder,determiner,pTaxonVersionKey,taxonName,authority,commonName,taxonGroup,sensitive,zeroAbundance,fullVersion
0,463166539,1767,The Bat Conservation Trust,GA000612,1,1,SM90,10km,NaN,NaN,...,NaN,NaN,NBNSYS0100004720,Pipistrellus pygmaeus,"(Leach, 1825)",Soprano Pipistrelle,terrestrial mammal,False,False,False
1,463166623,4325,The Bat Conservation Trust,GA000612,1,1,TL65,10km,NaN,NaN,...,NaN,NaN,NHMSYS0020001355,Pipistrellus pipistrellus sensu stricto,"(Schreber, 1774)",Common Pipistrelle,terrestrial mammal,False,False,False
2,463166624,4326,The Bat Conservation Trust,GA000612,1,1,TL65,10km,NaN,NaN,...,NaN,NaN,NHMSYS0020001355,Pipistrellus pipistrellus sensu stricto,"(Schreber, 1774)",Common Pipistrelle,terrestrial mammal,False,False,False
3,463166625,4327,The Bat Conservation Trust,GA000612,1,1,TL65,10km,NaN,NaN,...,NaN,NaN,NHMSYS0020001355,Pipistrellus pipistrellus sensu stricto,"(Schreber, 1774)",Common Pipistrelle,terrestrial mammal,False,False,False
4,463166626,4328,The Bat Conservation Trust,GA000612,1,1,TL65,10km,NaN,NaN,...,NaN,NaN,NHMSYS0020001355,Pipistrellus pipistrellus sensu stricto,"(Schreber, 1774)",Common Pipistrelle,terrestrial mammal,False,False,False

Checking the roost data and loading it into a dataframe.

In [6]:
!head -n 5 'data/RoostObservations.csv'

observationID,recordKey,organisationName,datasetKey,surveyKey,sampleKey,gridReference,precision,siteKey,siteName,featureKey,startDate,endDate,dateType,recorder,determiner,pTaxonVersionKey,taxonName,authority,commonName,taxonGroup,sensitive,zeroAbundance,fullVersion,Abundance,Comments,HRGridReference,LocationName,RecordType,SpeciesIDMethod,SurveyType
463185100,7871,The Bat Conservation Trust,GA000616,1,1,NN5620,1km,,,129467,16/06/2007,16/06/2007,Day,,,NBNSYS0000005102,Plecotus auritus,"(Linnaeus, 1758)",Brown Long-eared Bat,terrestrial mammal,false,false,false,,,,,,,
463185128,1506,The Bat Conservation Trust,GA000616,1,1,NR2767,1km,,,130452,29/05/2010,29/05/2010,Day,,,NHMSYS0020001355,Pipistrellus pipistrellus sensu stricto,"(Schreber, 1774)",Common Pipistrelle,terrestrial mammal,false,false,false,,,,,,,
463185129,1507,The Bat Conservation Trust,GA000616,1,1,NR2767,1km,,,130452,06/06/2010,06/06/2010,Day,,,NHMSYS0020001355,Pipistrellus pipistrellus sensu stricto,"(Schreber, 1774)",Common Pipistrelle,terrestrial mammal,false,false,false,,,,,,,
463185205,756,The Bat Conservation Trust,GA000616,1,1,TA0333,1km,,,160033,13/07/2010,13/07/2010,Day,,,NHMSYS0020001355,Pipistrellus pipistrellus sensu stricto,"(Schreber, 1774)",Common Pipistrelle,terrestrial mammal,false,false,false,,,,,,,

In [7]:
!tail -n 5 'data/RoostObservations.csv'

463209487,13191,The Bat Conservation Trust,GA000616,1,1,ST1821,1km,,,653453,15/06/2011,15/06/2011,Day,,,NHMSYS0000528030,Myotis mystacinus/brandtii,null,Whiskered/Brandt's Bat,terrestrial mammal,false,false,false,,,,,,,
463209488,1738,The Bat Conservation Trust,GA000616,1,1,ST1821,1km,,,653453,29/06/2010,29/06/2010,Day,,,NHMSYS0000528030,Myotis mystacinus/brandtii,null,Whiskered/Brandt's Bat,terrestrial mammal,false,false,false,,,,,,,
463209489,1739,The Bat Conservation Trust,GA000616,1,1,ST1821,1km,,,653453,30/06/2010,30/06/2010,Day,,,NHMSYS0000528030,Myotis mystacinus/brandtii,null,Whiskered/Brandt's Bat,terrestrial mammal,false,false,false,,,,,,,
463209975,21920,The Bat Conservation Trust,GA000616,1,1,SX8166,1km,,,665485,07/06/2004,07/06/2004,Day,,,NHMSYS0000080177,Rhinolophus hipposideros,"(Bechstein, 1800)",Lesser Horseshoe Bat,terrestrial mammal,false,false,false,,,,,,,
463209976,21921,The Bat Conservation Trust,GA000616,1,1,SX8166,1km,,,665485,17/06/2004,17/06/2004,Day,,,NHMSYS0000080177,Rhinolophus hipposideros,"(Bechstein, 1800)",Lesser Horseshoe Bat,terrestrial mammal,false,false,false,,,,,,,

In [8]:
roost_df = pd.read_csv('data/RoostObservations.csv', engine='python')

In [9]:
roost_df.head()

,observationID,recordKey,organisationName,datasetKey,surveyKey,sampleKey,gridReference,precision,siteKey,siteName,...,sensitive,zeroAbundance,fullVersion,Abundance,Comments,HRGridReference,LocationName,RecordType,SpeciesIDMethod,SurveyType
0,463185100,7871,The Bat Conservation Trust,GA000616,1,1,NN5620,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,463185128,1506,The Bat Conservation Trust,GA000616,1,1,NR2767,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,463185129,1507,The Bat Conservation Trust,GA000616,1,1,NR2767,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,463185205,756,The Bat Conservation Trust,GA000616,1,1,TA0333,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,463185255,12799,The Bat Conservation Trust,GA000616,1,1,NN7102,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Exploring the datasets

In [10]:
hibernation_df.columns

Index(['observationID', 'recordKey', 'organisationName', 'datasetKey',
       'surveyKey', 'sampleKey', 'gridReference', 'precision', 'siteKey',
       'siteName', 'featureKey', 'startDate', 'endDate', 'dateType',
       'recorder', 'determiner', 'pTaxonVersionKey', 'taxonName', 'authority',
       'commonName', 'taxonGroup', 'sensitive', 'zeroAbundance',
       'fullVersion'],
      dtype='object')

In [11]:
roost_df.columns

Index(['observationID', 'recordKey', 'organisationName', 'datasetKey',
       'surveyKey', 'sampleKey', 'gridReference', 'precision', 'siteKey',
       'siteName', 'featureKey', 'startDate', 'endDate', 'dateType',
       'recorder', 'determiner', 'pTaxonVersionKey', 'taxonName', 'authority',
       'commonName', 'taxonGroup', 'sensitive', 'zeroAbundance', 'fullVersion',
       'Abundance', 'Comments', 'HRGridReference', 'LocationName',
       'RecordType', 'SpeciesIDMethod', 'SurveyType'],
      dtype='object')

In [12]:
hibernation_df.dtypes

observationID         int64
recordKey             int64
organisationName     object
datasetKey           object
surveyKey             int64
sampleKey             int64
gridReference        object
precision            object
siteKey             float64
siteName            float64
featureKey            int64
startDate            object
endDate              object
dateType             object
recorder            float64
determiner          float64
pTaxonVersionKey     object
taxonName            object
authority            object
commonName           object
taxonGroup           object
sensitive              bool
zeroAbundance          bool
fullVersion            bool
dtype: object

In [13]:
roost_df.dtypes

observationID         int64
recordKey             int64
organisationName     object
datasetKey           object
surveyKey             int64
sampleKey             int64
gridReference        object
precision            object
siteKey             float64
siteName            float64
featureKey            int64
startDate            object
endDate              object
dateType             object
recorder            float64
determiner          float64
pTaxonVersionKey     object
taxonName            object
authority            object
commonName           object
taxonGroup           object
sensitive              bool
zeroAbundance          bool
fullVersion            bool
Abundance           float64
Comments            float64
HRGridReference     float64
LocationName        float64
RecordType          float64
SpeciesIDMethod     float64
SurveyType          float64
dtype: object

In [14]:
set(roost_df.columns) - set(hibernation_df.columns)

{'Abundance',
 'Comments',
 'HRGridReference',
 'LocationName',
 'RecordType',
 'SpeciesIDMethod',
 'SurveyType'}

# The two datasets do not contain the same number of columns 

Do the additional columns in the roost dataset contain anything useful?

In [15]:
roost_df.Abundance.unique()

array([ nan])

In [16]:
roost_df.Comments.unique()

array([ nan])

In [17]:
roost_df.HRGridReference.unique()

array([ nan])

In [18]:
roost_df.LocationName.unique()

array([ nan])

In [19]:
roost_df.RecordType.unique()

array([ nan])

In [20]:
roost_df.SpeciesIDMethod.unique()

array([ nan])

In [21]:
roost_df.SurveyType.unique()

array([ nan])

So all of the additional columns in the roost dataset contain NaN values and as such are not useful.

Columns that both datasets have in common.

In [22]:
set(roost_df.columns).intersection(hibernation_df.columns)

{'authority',
 'commonName',
 'datasetKey',
 'dateType',
 'determiner',
 'endDate',
 'featureKey',
 'fullVersion',
 'gridReference',
 'observationID',
 'organisationName',
 'pTaxonVersionKey',
 'precision',
 'recordKey',
 'recorder',
 'sampleKey',
 'sensitive',
 'siteKey',
 'siteName',
 'startDate',
 'surveyKey',
 'taxonGroup',
 'taxonName',
 'zeroAbundance'}

In [23]:
roost_df.describe

<bound method NDFrame.describe of        observationID  recordKey            organisationName datasetKey  \
0          463185100       7871  The Bat Conservation Trust   GA000616
1          463185128       1506  The Bat Conservation Trust   GA000616
2          463185129       1507  The Bat Conservation Trust   GA000616
3          463185205        756  The Bat Conservation Trust   GA000616
4          463185255      12799  The Bat Conservation Trust   GA000616
5          463185256      12800  The Bat Conservation Trust   GA000616
6          463185451        690  The Bat Conservation Trust   GA000616
7          463185492      17833  The Bat Conservation Trust   GA000616
8          463185571       5151  The Bat Conservation Trust   GA000616
9          463185572       5152  The Bat Conservation Trust   GA000616
10         463185573       5153  The Bat Conservation Trust   GA000616
11         463185574       5154  The Bat Conservation Trust   GA000616
12         463185575       5155  The Bat Conservation Trust   GA000616
13         463185576       5156  The Bat Conservation Trust   GA000616
14         463185577       5157  The Bat Conservation Trust   GA000616
15         463185578       5158  The Bat Conservation Trust   GA000616
16         463185579       5159  The Bat Conservation Trust   GA000616
17         463185580       5160  The Bat Conservation Trust   GA000616
18         463185581       5161  The Bat Conservation Trust   GA000616
19         463185582       5162  The Bat Conservation Trust   GA000616
20         463185583       5163  The Bat Conservation Trust   GA000616
21         463185584       5164  The Bat Conservation Trust   GA000616
22         463185585       5165  The Bat Conservation Trust   GA000616
23         463185586       5166  The Bat Conservation Trust   GA000616
24         463185587       5167  The Bat Conservation Trust   GA000616
25         463185588       5168  The Bat Conservation Trust   GA000616
26         463185589       5169  The Bat Conservation Trust   GA000616
27         463185688       5889  The Bat Conservation Trust   GA000616
28         463185689       5890  The Bat Conservation Trust   GA000616
29         463185690       5891  The Bat Conservation Trust   GA000616
...              ...        ...                         ...        ...
23649      463207173       4601  The Bat Conservation Trust   GA000616
23650      463207174       4602  The Bat Conservation Trust   GA000616
23651      463207183       1971  The Bat Conservation Trust   GA000616
23652      463207184       1973  The Bat Conservation Trust   GA000616
23653      463207209      27862  The Bat Conservation Trust   GA000616
23654      463207210      27863  The Bat Conservation Trust   GA000616
23655      463207214      25492  The Bat Conservation Trust   GA000616
23656      463207215      25493  The Bat Conservation Trust   GA000616
23657      463208366    1003886  The Bat Conservation Trust   GA000616
23658      463208367    1004161  The Bat Conservation Trust   GA000616
23659      463208394      19759  The Bat Conservation Trust   GA000616
23660      463208395      19760  The Bat Conservation Trust   GA000616
23661      463208781      19761  The Bat Conservation Trust   GA000616
23662      463208782      19762  The Bat Conservation Trust   GA000616
23663      463208783      19763  The Bat Conservation Trust   GA000616
23664      463208784      19764  The Bat Conservation Trust   GA000616
23665      463208785      19765  The Bat Conservation Trust   GA000616
23666      463208786      19766  The Bat Conservation Trust   GA000616
23667      463208787      19767  The Bat Conservation Trust   GA000616
23668      463208788      19768  The Bat Conservation Trust   GA000616
23669      463208789      19769  The Bat Conservation Trust   GA000616
23670      463208790      19770  The Bat Conservation Trust   GA000616
23671      463208859      26097  The Bat Conservation Trust   GA000616
23672      463208860      26098  The Bat Conservation Trust   GA000616
23673      463209486      13311  The Bat Conservation Trust   GA000616
23674      463209487      13191  The Bat Conservation Trust   GA000616
23675      463209488       1738  The Bat Conservation Trust   GA000616
23676      463209489       1739  The Bat Conservation Trust   GA000616
23677      463209975      21920  The Bat Conservation Trust   GA000616
23678      463209976      21921  The Bat Conservation Trust   GA000616

       surveyKey  sampleKey gridReference precision  siteKey  siteName  \
0              1          1        NN5620       1km      NaN       NaN
1              1          1        NR2767       1km      NaN       NaN
2              1          1        NR2767       1km      NaN       NaN
3              1          1        TA0333       1km      NaN       NaN
4              1          1        NN7102       1km      NaN       NaN
5              1          1        NN7102       1km      NaN       NaN
6              1          1        NS8992       1km      NaN       NaN
7              1          1        SE6562       1km      NaN       NaN
8              1          1        SE6845       1km      NaN       NaN
9              1          1        SE6845       1km      NaN       NaN
10             1          1        SE6845       1km      NaN       NaN
11             1          1        SE6845       1km      NaN       NaN
12             1          1        SE6845       1km      NaN       NaN
13             1          1        SE6845       1km      NaN       NaN
14             1          1        SE6845       1km      NaN       NaN
15             1          1        SE6845       1km      NaN       NaN
16             1          1        SE6845       1km      NaN       NaN
17             1          1        SE6845       1km      NaN       NaN
18             1          1        SE6845       1km      NaN       NaN
19             1          1        SE6845       1km      NaN       NaN
20             1          1        SE6845       1km      NaN       NaN
21             1          1        SE6845       1km      NaN       NaN
22             1          1        SE6845       1km      NaN       NaN
23             1          1        SE6845       1km      NaN       NaN
24             1          1        SE6845       1km      NaN       NaN
25             1          1        SE6845       1km      NaN       NaN
26             1          1        SE6845       1km      NaN       NaN
27             1          1        SU0038       1km      NaN       NaN
28             1          1        SU0038       1km      NaN       NaN
29             1          1        SU0038       1km      NaN       NaN
...          ...        ...           ...       ...      ...       ...
23649          1          1        NY8010       1km      NaN       NaN
23650          1          1        NY8010       1km      NaN       NaN
23651          1          1        NY8010       1km      NaN       NaN
23652          1          1        NY8010       1km      NaN       NaN
23653          1          1        NY8010       1km      NaN       NaN
23654          1          1        NY8010       1km      NaN       NaN
23655          1          1        NY8010       1km      NaN       NaN
23656          1          1        NY8010       1km      NaN       NaN
23657          1          1        ST1821       1km      NaN       NaN
23658          1          1        ST1821       1km      NaN       NaN
23659          1          1        SJ0973       1km      NaN       NaN
23660          1          1        SJ0973       1km      NaN       NaN
23661          1          1        SJ0973       1km      NaN       NaN
23662          1          1        SJ0973       1km      NaN       NaN
23663          1          1        SJ0973       1km      NaN       NaN
23664          1          1        SJ0973       1km      NaN       NaN
23665          1          1        SJ0973       1km      NaN       NaN
23666          1          1        SJ0973       1km      NaN       NaN
23667          1          1        SJ0973       1km      NaN       NaN
23668          1          1        SJ0973       1km      NaN       NaN
23669          1          1        SJ0973       1km      NaN       NaN
23670          1          1        SJ0973       1km      NaN       NaN
23671          1          1        TQ9755       1km      NaN       NaN
23672          1          1        TQ9755       1km      NaN       NaN
23673          1          1        ST1821       1km      NaN       NaN
23674          1          1        ST1821       1km      NaN       NaN
23675          1          1        ST1821       1km      NaN       NaN
23676          1          1        ST1821       1km      NaN       NaN
23677          1          1        SX8166       1km      NaN       NaN
23678          1          1        SX8166       1km      NaN       NaN

         ...      sensitive zeroAbundance fullVersion Abundance  Comments  \
0        ...          False         False       False       NaN       NaN
1        ...          False         False       False       NaN       NaN
2        ...          False         False       False       NaN       NaN
3        ...          False         False       False       NaN       NaN
4        ...          False         False       False       NaN       NaN
5        ...          False         False       False       NaN       NaN
6        ...          False         False       False       NaN       NaN
7        ...          False         False       False       NaN       NaN
8        ...          False         False       False       NaN       NaN
9        ...          False         False       False       NaN       NaN
10       ...          False         False       False       NaN       NaN
11       ...          False         False       False       NaN       NaN
12       ...          False         False       False       NaN       NaN
13       ...          False         False       False       NaN       NaN
14       ...          False         False       False       NaN       NaN
15       ...          False         False       False       NaN       NaN
16       ...          False         False       False       NaN       NaN
17       ...          False         False       False       NaN       NaN
18       ...          False         False       False       NaN       NaN
19       ...          False         False       False       NaN       NaN
20       ...          False         False       False       NaN       NaN
21       ...          False         False       False       NaN       NaN
22       ...          False         False       False       NaN       NaN
23       ...          False         False       False       NaN       NaN
24       ...          False         False       False       NaN       NaN
25       ...          False         False       False       NaN       NaN
26       ...          False         False       False       NaN       NaN
27       ...          False         False       False       NaN       NaN
28       ...          False         False       False       NaN       NaN
29       ...          False         False       False       NaN       NaN
...      ...            ...           ...         ...       ...       ...
23649    ...          False         False       False       NaN       NaN
23650    ...          False         False       False       NaN       NaN
23651    ...          False         False       False       NaN       NaN
23652    ...          False         False       False       NaN       NaN
23653    ...          False         False       False       NaN       NaN
23654    ...          False         False       False       NaN       NaN
23655    ...          False         False       False       NaN       NaN
23656    ...          False         False       False       NaN       NaN
23657    ...          False         False       False       NaN       NaN
23658    ...          False         False       False       NaN       NaN
23659    ...          False         False       False       NaN       NaN
23660    ...          False         False       False       NaN       NaN
23661    ...          False         False       False       NaN       NaN
23662    ...          False         False       False       NaN       NaN
23663    ...          False         False       False       NaN       NaN
23664    ...          False         False       False       NaN       NaN
23665    ...          False         False       False       NaN       NaN
23666    ...          False         False       False       NaN       NaN
23667    ...          False         False       False       NaN       NaN
23668    ...          False         False       False       NaN       NaN
23669    ...          False         False       False       NaN       NaN
23670    ...          False         False       False       NaN       NaN
23671    ...          False         False       False       NaN       NaN
23672    ...          False         False       False       NaN       NaN
23673    ...          False         False       False       NaN       NaN
23674    ...          False         False       False       NaN       NaN
23675    ...          False         False       False       NaN       NaN
23676    ...          False         False       False       NaN       NaN
23677    ...          False         False       False       NaN       NaN
23678    ...          False         False       False       NaN       NaN

       HRGridReference LocationName RecordType SpeciesIDMethod SurveyType
0                  NaN          NaN        NaN             NaN        NaN
1                  NaN          NaN        NaN             NaN        NaN
2                  NaN          NaN        NaN             NaN        NaN
3                  NaN          NaN        NaN             NaN        NaN
4                  NaN          NaN        NaN             NaN        NaN
5                  NaN          NaN        NaN             NaN        NaN
6                  NaN          NaN        NaN             NaN        NaN
7                  NaN          NaN        NaN             NaN        NaN
8                  NaN          NaN        NaN             NaN        NaN
9                  NaN          NaN        NaN             NaN        NaN
10                 NaN          NaN        NaN             NaN        NaN
11                 NaN          NaN        NaN             NaN        NaN
12                 NaN          NaN        NaN             NaN        NaN
13                 NaN          NaN        NaN             NaN        NaN
14                 NaN          NaN        NaN             NaN        NaN
15                 NaN          NaN        NaN             NaN        NaN
16                 NaN          NaN        NaN             NaN        NaN
17                 NaN          NaN        NaN             NaN        NaN
18                 NaN          NaN        NaN             NaN        NaN
19                 NaN          NaN        NaN             NaN        NaN
20                 NaN          NaN        NaN             NaN        NaN
21                 NaN          NaN        NaN             NaN        NaN
22                 NaN          NaN        NaN             NaN        NaN
23                 NaN          NaN        NaN             NaN        NaN
24                 NaN          NaN        NaN             NaN        NaN
25                 NaN          NaN        NaN             NaN        NaN
26                 NaN          NaN        NaN             NaN        NaN
27                 NaN          NaN        NaN             NaN        NaN
28                 NaN          NaN        NaN             NaN        NaN
29                 NaN          NaN        NaN             NaN        NaN
...                ...          ...        ...             ...        ...
23649              NaN          NaN        NaN             NaN        NaN
23650              NaN          NaN        NaN             NaN        NaN
23651              NaN          NaN        NaN             NaN        NaN
23652              NaN          NaN        NaN             NaN        NaN
23653              NaN          NaN        NaN             NaN        NaN
23654              NaN          NaN        NaN             NaN        NaN
23655              NaN          NaN        NaN             NaN        NaN
23656              NaN          NaN        NaN             NaN        NaN
23657              NaN          NaN        NaN             NaN        NaN
23658              NaN          NaN        NaN             NaN        NaN
23659              NaN          NaN        NaN             NaN        NaN
23660              NaN          NaN        NaN             NaN        NaN
23661              NaN          NaN        NaN             NaN        NaN
23662              NaN          NaN        NaN             NaN        NaN
23663              NaN          NaN        NaN             NaN        NaN
23664              NaN          NaN        NaN             NaN        NaN
23665              NaN          NaN        NaN             NaN        NaN
23666              NaN          NaN        NaN             NaN        NaN
23667              NaN          NaN        NaN             NaN        NaN
23668              NaN          NaN        NaN             NaN        NaN
23669              NaN          NaN        NaN             NaN        NaN
23670              NaN          NaN        NaN             NaN        NaN
23671              NaN          NaN        NaN             NaN        NaN
23672              NaN          NaN        NaN             NaN        NaN
23673              NaN          NaN        NaN             NaN        NaN
23674              NaN          NaN        NaN             NaN        NaN
23675              NaN          NaN        NaN             NaN        NaN
23676              NaN          NaN        NaN             NaN        NaN
23677              NaN          NaN        NaN             NaN        NaN
23678              NaN          NaN        NaN             NaN        NaN

[23679 rows x 31 columns]>

In [24]:
hibernation_df.describe

<bound method NDFrame.describe of        observationID  recordKey            organisationName datasetKey  \
0          463166539       1767  The Bat Conservation Trust   GA000612
1          463166623       4325  The Bat Conservation Trust   GA000612
2          463166624       4326  The Bat Conservation Trust   GA000612
3          463166625       4327  The Bat Conservation Trust   GA000612
4          463166626       4328  The Bat Conservation Trust   GA000612
5          463166627       4329  The Bat Conservation Trust   GA000612
6          463166628       4330  The Bat Conservation Trust   GA000612
7          463166629       4331  The Bat Conservation Trust   GA000612
8          463166630       4332  The Bat Conservation Trust   GA000612
9          463166631       4333  The Bat Conservation Trust   GA000612
10         463166743      23494  The Bat Conservation Trust   GA000612
11         463166262      17276  The Bat Conservation Trust   GA000612
12         463166062      16808  The Bat Conservation Trust   GA000612
13         463166034       3500  The Bat Conservation Trust   GA000612
14         463165994      13775  The Bat Conservation Trust   GA000612
15         463165991      13772  The Bat Conservation Trust   GA000612
16         463165989      13770  The Bat Conservation Trust   GA000612
17         463165977      13243  The Bat Conservation Trust   GA000612
18         463165536        292  The Bat Conservation Trust   GA000612
19         463165534        290  The Bat Conservation Trust   GA000612
20         463165531        287  The Bat Conservation Trust   GA000612
21         463165529        285  The Bat Conservation Trust   GA000612
22         463165522        250  The Bat Conservation Trust   GA000612
23         463165516        244  The Bat Conservation Trust   GA000612
24         463165508       1100  The Bat Conservation Trust   GA000612
25         463165498      10166  The Bat Conservation Trust   GA000612
26         463165496      10164  The Bat Conservation Trust   GA000612
27         463165494      10162  The Bat Conservation Trust   GA000612
28         463165492      10160  The Bat Conservation Trust   GA000612
29         463165489      10157  The Bat Conservation Trust   GA000612
...              ...        ...                         ...        ...
22869      463183471      16226  The Bat Conservation Trust   GA000612
22870      463183500       9930  The Bat Conservation Trust   GA000612
22871      463183882      21100  The Bat Conservation Trust   GA000612
22872      463183948      15751  The Bat Conservation Trust   GA000612
22873      463183950      15753  The Bat Conservation Trust   GA000612
22874      463183954      15757  The Bat Conservation Trust   GA000612
22875      463183957      15760  The Bat Conservation Trust   GA000612
22876      463183961      20330  The Bat Conservation Trust   GA000612
22877      463183965      20334  The Bat Conservation Trust   GA000612
22878      463183976      21626  The Bat Conservation Trust   GA000612
22879      463183978      21628  The Bat Conservation Trust   GA000612
22880      463183981      17753  The Bat Conservation Trust   GA000612
22881      463183984      17756  The Bat Conservation Trust   GA000612
22882      463183991       1387  The Bat Conservation Trust   GA000612
22883      463184005      17794  The Bat Conservation Trust   GA000612
22884      463184008      20289  The Bat Conservation Trust   GA000612
22885      463184216      16499  The Bat Conservation Trust   GA000612
22886      463184383      18871  The Bat Conservation Trust   GA000612
22887      463184392      21488  The Bat Conservation Trust   GA000612
22888      463184497       7604  The Bat Conservation Trust   GA000612
22889      463184506      12447  The Bat Conservation Trust   GA000612
22890      463184525       2482  The Bat Conservation Trust   GA000612
22891      463184882      17104  The Bat Conservation Trust   GA000612
22892      463184980       1380  The Bat Conservation Trust   GA000612
22893      463184984       1384  The Bat Conservation Trust   GA000612
22894      463184995      20315  The Bat Conservation Trust   GA000612
22895      463185027      16096  The Bat Conservation Trust   GA000612
22896      463185029      16098  The Bat Conservation Trust   GA000612
22897      463185031      16103  The Bat Conservation Trust   GA000612
22898      463185032      17955  The Bat Conservation Trust   GA000612

       surveyKey  sampleKey gridReference precision     siteKey  siteName  \
0              1          1          SM90      10km         NaN       NaN
1              1          1          TL65      10km         NaN       NaN
2              1          1          TL65      10km         NaN       NaN
3              1          1          TL65      10km         NaN       NaN
4              1          1          TL65      10km         NaN       NaN
5              1          1          TL65      10km         NaN       NaN
6              1          1          TL65      10km         NaN       NaN
7              1          1          TL65      10km         NaN       NaN
8              1          1          TL65      10km         NaN       NaN
9              1          1          TL65      10km         NaN       NaN
10             1          1          SY28      10km         NaN       NaN
11             1          1          SU62      10km  19784006.0   10032.0
12             1          1          TF28      10km         NaN       NaN
13             1          1          TF28      10km         NaN       NaN
14             1          1          SK83      10km         NaN       NaN
15             1          1          SK83      10km         NaN       NaN
16             1          1          SK83      10km         NaN       NaN
17             1          1          NY83      10km         NaN       NaN
18             1          1          SX37      10km         NaN       NaN
19             1          1          SX37      10km         NaN       NaN
20             1          1          SX37      10km         NaN       NaN
21             1          1          SX37      10km         NaN       NaN
22             1          1          SK15      10km         NaN       NaN
23             1          1          SK15      10km         NaN       NaN
24             1          1          SK15      10km         NaN       NaN
25             1          1          SX37      10km         NaN       NaN
26             1          1          SX37      10km         NaN       NaN
27             1          1          SX37      10km         NaN       NaN
28             1          1          SX37      10km         NaN       NaN
29             1          1          SX37      10km         NaN       NaN
...          ...        ...           ...       ...         ...       ...
22869          1          1          TQ76      10km         NaN       NaN
22870          1          1          SN61      10km         NaN       NaN
22871          1          1          SY97      10km         NaN       NaN
22872          1          1          TQ35      10km         NaN       NaN
22873          1          1          TQ35      10km         NaN       NaN
22874          1          1          TQ35      10km         NaN       NaN
22875          1          1          TQ35      10km         NaN       NaN
22876          1          1          TQ35      10km         NaN       NaN
22877          1          1          TQ35      10km         NaN       NaN
22878          1          1          TQ35      10km         NaN       NaN
22879          1          1          TQ35      10km         NaN       NaN
22880          1          1          TQ35      10km         NaN       NaN
22881          1          1          TQ35      10km         NaN       NaN
22882          1          1          TQ35      10km         NaN       NaN
22883          1          1          TQ35      10km         NaN       NaN
22884          1          1          TQ35      10km         NaN       NaN
22885          1          1          ST45      10km         NaN       NaN
22886          1          1          NY78      10km  19784666.0   10563.0
22887          1          1          NY78      10km  19784666.0   10563.0
22888          1          1          TQ76      10km         NaN       NaN
22889          1          1          TQ76      10km         NaN       NaN
22890          1          1          TQ76      10km         NaN       NaN
22891          1          1          TQ46      10km         NaN       NaN
22892          1          1          TQ35      10km         NaN       NaN
22893          1          1          TQ35      10km         NaN       NaN
22894          1          1          TQ35      10km         NaN       NaN
22895          1          1          TQ21      10km         NaN       NaN
22896          1          1          TQ21      10km         NaN       NaN
22897          1          1          TQ31      10km         NaN       NaN
22898          1          1          TQ31      10km         NaN       NaN

          ...      recorder determiner  pTaxonVersionKey  \
0         ...           NaN        NaN  NBNSYS0100004720
1         ...           NaN        NaN  NHMSYS0020001355
2         ...           NaN        NaN  NHMSYS0020001355
3         ...           NaN        NaN  NHMSYS0020001355
4         ...           NaN        NaN  NHMSYS0020001355
5         ...           NaN        NaN  NHMSYS0020001355
6         ...           NaN        NaN  NHMSYS0020001355
7         ...           NaN        NaN  NHMSYS0020001355
8         ...           NaN        NaN  NHMSYS0020001355
9         ...           NaN        NaN  NHMSYS0020001355
10        ...           NaN        NaN  NHMSYS0000528026
11        ...           NaN        NaN  NBNSYS0100004720
12        ...           NaN        NaN  NHMSYS0000080178
13        ...           NaN        NaN  NHMSYS0000080178
14        ...           NaN        NaN  NHMSYS0000080178
15        ...           NaN        NaN  NHMSYS0000080178
16        ...           NaN        NaN  NHMSYS0000080178
17        ...           NaN        NaN  NHMSYS0000528026
18        ...           NaN        NaN  NHMSYS0000080178
19        ...           NaN        NaN  NHMSYS0020001356
20        ...           NaN        NaN  NHMSYS0000080178
21        ...           NaN        NaN  NHMSYS0020001356
22        ...           NaN        NaN  NHMSYS0000528026
23        ...           NaN        NaN  NHMSYS0000528026
24        ...           NaN        NaN  NHMSYS0000528026
25        ...           NaN        NaN  NHMSYS0020001356
26        ...           NaN        NaN  NHMSYS0000080178
27        ...           NaN        NaN  NHMSYS0020001356
28        ...           NaN        NaN  NHMSYS0000080178
29        ...           NaN        NaN  NHMSYS0020001356
...       ...           ...        ...               ...
22869     ...           NaN        NaN  NHMSYS0000528030
22870     ...           NaN        NaN  NHMSYS0000528030
22871     ...           NaN        NaN  NHMSYS0000528030
22872     ...           NaN        NaN  NHMSYS0000528030
22873     ...           NaN        NaN  NHMSYS0000528030
22874     ...           NaN        NaN  NHMSYS0000528030
22875     ...           NaN        NaN  NHMSYS0000528030
22876     ...           NaN        NaN  NHMSYS0000528030
22877     ...           NaN        NaN  NHMSYS0000528030
22878     ...           NaN        NaN  NHMSYS0000528030
22879     ...           NaN        NaN  NHMSYS0000528030
22880     ...           NaN        NaN  NHMSYS0000528030
22881     ...           NaN        NaN  NHMSYS0000528030
22882     ...           NaN        NaN  NHMSYS0000528030
22883     ...           NaN        NaN  NHMSYS0000528030
22884     ...           NaN        NaN  NHMSYS0000528030
22885     ...           NaN        NaN  NHMSYS0000528030
22886     ...           NaN        NaN  NHMSYS0000080186
22887     ...           NaN        NaN  NHMSYS0000080186
22888     ...           NaN        NaN  NHMSYS0000528030
22889     ...           NaN        NaN  NHMSYS0000528030
22890     ...           NaN        NaN  NHMSYS0000528030
22891     ...           NaN        NaN  NHMSYS0000528030
22892     ...           NaN        NaN  NHMSYS0000528030
22893     ...           NaN        NaN  NHMSYS0000528030
22894     ...           NaN        NaN  NHMSYS0000528030
22895     ...           NaN        NaN  NHMSYS0000528030
22896     ...           NaN        NaN  NHMSYS0000528030
22897     ...           NaN        NaN  NHMSYS0000528030
22898     ...           NaN        NaN  NHMSYS0000528030

                                     taxonName          authority  \
0                        Pipistrellus pygmaeus      (Leach, 1825)
1      Pipistrellus pipistrellus sensu stricto   (Schreber, 1774)
2      Pipistrellus pipistrellus sensu stricto   (Schreber, 1774)
3      Pipistrellus pipistrellus sensu stricto   (Schreber, 1774)
4      Pipistrellus pipistrellus sensu stricto   (Schreber, 1774)
5      Pipistrellus pipistrellus sensu stricto   (Schreber, 1774)
6      Pipistrellus pipistrellus sensu stricto   (Schreber, 1774)
7      Pipistrellus pipistrellus sensu stricto   (Schreber, 1774)
8      Pipistrellus pipistrellus sensu stricto   (Schreber, 1774)
9      Pipistrellus pipistrellus sensu stricto   (Schreber, 1774)
10                             Myotis brandtii  (Eversmann, 1845)
11                       Pipistrellus pygmaeus      (Leach, 1825)
12                    Barbastella barbastellus   (Schreber, 1774)
13                    Barbastella barbastellus   (Schreber, 1774)
14                    Barbastella barbastellus   (Schreber, 1774)
15                    Barbastella barbastellus   (Schreber, 1774)
16                    Barbastella barbastellus   (Schreber, 1774)
17                             Myotis brandtii  (Eversmann, 1845)
18                    Barbastella barbastellus   (Schreber, 1774)
19        Pipistrellus pipistrellus sensu lato   (Schreber, 1774)
20                    Barbastella barbastellus   (Schreber, 1774)
21        Pipistrellus pipistrellus sensu lato   (Schreber, 1774)
22                             Myotis brandtii  (Eversmann, 1845)
23                             Myotis brandtii  (Eversmann, 1845)
24                             Myotis brandtii  (Eversmann, 1845)
25        Pipistrellus pipistrellus sensu lato   (Schreber, 1774)
26                    Barbastella barbastellus   (Schreber, 1774)
27        Pipistrellus pipistrellus sensu lato   (Schreber, 1774)
28                    Barbastella barbastellus   (Schreber, 1774)
29        Pipistrellus pipistrellus sensu lato   (Schreber, 1774)
...                                        ...                ...
22869               Myotis mystacinus/brandtii               null
22870               Myotis mystacinus/brandtii               null
22871               Myotis mystacinus/brandtii               null
22872               Myotis mystacinus/brandtii               null
22873               Myotis mystacinus/brandtii               null
22874               Myotis mystacinus/brandtii               null
22875               Myotis mystacinus/brandtii               null
22876               Myotis mystacinus/brandtii               null
22877               Myotis mystacinus/brandtii               null
22878               Myotis mystacinus/brandtii               null
22879               Myotis mystacinus/brandtii               null
22880               Myotis mystacinus/brandtii               null
22881               Myotis mystacinus/brandtii               null
22882               Myotis mystacinus/brandtii               null
22883               Myotis mystacinus/brandtii               null
22884               Myotis mystacinus/brandtii               null
22885               Myotis mystacinus/brandtii               null
22886                         Nyctalus noctula   (Schreber, 1774)
22887                         Nyctalus noctula   (Schreber, 1774)
22888               Myotis mystacinus/brandtii               null
22889               Myotis mystacinus/brandtii               null
22890               Myotis mystacinus/brandtii               null
22891               Myotis mystacinus/brandtii               null
22892               Myotis mystacinus/brandtii               null
22893               Myotis mystacinus/brandtii               null
22894               Myotis mystacinus/brandtii               null
22895               Myotis mystacinus/brandtii               null
22896               Myotis mystacinus/brandtii               null
22897               Myotis mystacinus/brandtii               null
22898               Myotis mystacinus/brandtii               null

                   commonName          taxonGroup sensitive zeroAbundance  \
0         Soprano Pipistrelle  terrestrial mammal     False         False
1          Common Pipistrelle  terrestrial mammal     False         False
2          Common Pipistrelle  terrestrial mammal     False         False
3          Common Pipistrelle  terrestrial mammal     False         False
4          Common Pipistrelle  terrestrial mammal     False         False
5          Common Pipistrelle  terrestrial mammal     False         False
6          Common Pipistrelle  terrestrial mammal     False         False
7          Common Pipistrelle  terrestrial mammal     False         False
8          Common Pipistrelle  terrestrial mammal     False         False
9          Common Pipistrelle  terrestrial mammal     False         False
10               Brandt's Bat  terrestrial mammal     False         False
11        Soprano Pipistrelle  terrestrial mammal     False         False
12        Western Barbastelle  terrestrial mammal     False         False
13        Western Barbastelle  terrestrial mammal     False         False
14        Western Barbastelle  terrestrial mammal     False         False
15        Western Barbastelle  terrestrial mammal     False         False
16        Western Barbastelle  terrestrial mammal     False         False
17               Brandt's Bat  terrestrial mammal     False         False
18        Western Barbastelle  terrestrial mammal     False         False
19                Pipistrelle  terrestrial mammal     False         False
20        Western Barbastelle  terrestrial mammal     False         False
21                Pipistrelle  terrestrial mammal     False         False
22               Brandt's Bat  terrestrial mammal     False         False
23               Brandt's Bat  terrestrial mammal     False         False
24               Brandt's Bat  terrestrial mammal     False         False
25                Pipistrelle  terrestrial mammal     False         False
26        Western Barbastelle  terrestrial mammal     False         False
27                Pipistrelle  terrestrial mammal     False         False
28        Western Barbastelle  terrestrial mammal     False         False
29                Pipistrelle  terrestrial mammal     False         False
...                       ...                 ...       ...           ...
22869  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22870  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22871  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22872  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22873  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22874  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22875  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22876  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22877  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22878  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22879  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22880  Whiskered/Brandt's Bat  terrestrial mammal     False         False
22881  Whiskered/Brandt's Bat  terrestrial mammal     False         False

Most of the above columns in both datasets seems to repeat the same information for each row and even those that do not seem to have a lot of NaN values.

Each column is for a single observation of a bat, as such some columns do not seem very useful.

# Exploring which common columns are useful for comparing the datasets

The authority columns:

In [25]:
hibernation_df.authority.unique()

array(['(Leach, 1825)', '(Schreber, 1774)', '(Eversmann, 1845)',
       '(Linnaeus, 1758)', '(Kuhl, 1817)', 'Blumenbach, 1779',
       '(Fischer, 1829)', 'Geoffroy, 1818', '(Bechstein, 1800)', 'null',
       '(Borkhausen, 1797)', 'Kaup, 1829'], dtype=object)

In [26]:
roost_df.authority.unique()

array(['(Linnaeus, 1758)', '(Schreber, 1774)', '(Leach, 1825)',
       '(Kuhl, 1817)', '(Bechstein, 1800)', 'Blumenbach, 1779',
       '(Eversmann, 1845)', 'null', '(Fischer, 1829)'], dtype=object)

The authority columns have values which are not shared. This column doesn't appear to be useful anyway as it appears to say who named the bat species.

The dateType colulmns:

In [27]:
hibernation_df.dateType.unique()

array(['Day'], dtype=object)

In [28]:
roost_df.dateType.unique()

array(['Day', 'Year'], dtype=object)

In [29]:
roost_df[roost_df['dateType']=='Day'].count()
roost_df[roost_df['dateType']=='Year'].count()
#dateType value of 'Day' 22360 records
#dateType value of 'Year' 1319 records
roost_df[roost_df['dateType']=='Year'].head()

,observationID,recordKey,organisationName,datasetKey,surveyKey,sampleKey,gridReference,precision,siteKey,siteName,...,sensitive,zeroAbundance,fullVersion,Abundance,Comments,HRGridReference,LocationName,RecordType,SpeciesIDMethod,SurveyType
435,463194934,1009423,The Bat Conservation Trust,GA000616,1,1,SE1314,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
441,463195128,1001226,The Bat Conservation Trust,GA000616,1,1,NT5977,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
474,463196060,1015655,The Bat Conservation Trust,GA000616,1,1,TA0333,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
581,463196865,1006994,The Bat Conservation Trust,GA000616,1,1,NS8992,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,463197217,1000063,The Bat Conservation Trust,GA000616,1,1,NM6863,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
roost_df[roost_df['dateType']=='Day'].head()

,observationID,recordKey,organisationName,datasetKey,surveyKey,sampleKey,gridReference,precision,siteKey,siteName,...,sensitive,zeroAbundance,fullVersion,Abundance,Comments,HRGridReference,LocationName,RecordType,SpeciesIDMethod,SurveyType
0,463185100,7871,The Bat Conservation Trust,GA000616,1,1,NN5620,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,463185128,1506,The Bat Conservation Trust,GA000616,1,1,NR2767,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,463185129,1507,The Bat Conservation Trust,GA000616,1,1,NR2767,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,463185205,756,The Bat Conservation Trust,GA000616,1,1,TA0333,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,463185255,12799,The Bat Conservation Trust,GA000616,1,1,NN7102,1km,NaN,NaN,...,False,False,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
roost_df[['startDate', 'endDate']].head()

    startDate     endDate
0  16/06/2007  16/06/2007
1  29/05/2010  29/05/2010
2  06/06/2010  06/06/2010
3  13/07/2010  13/07/2010
4  11/07/2010  11/07/2010

In [32]:
roost_df_year = roost_df[roost_df['dateType']=='Year']

In [33]:
roost_df_year[['startDate', 'endDate']].head()

      startDate     endDate
435  01/01/2002  31/12/2002
441  01/01/2004  31/12/2004
474  01/01/2013  31/12/2013
581  01/01/2012  31/12/2012
636  01/01/2002  31/12/2002

The hibernation dataset has a dateType of day while the roost dataset has day and year. 

There doesn't appear to be anything different about the values that have dataType year and roost metadata states that roost observations are for two days in summer. So the dateType column does not appear to be useful.

Examining the other date columns.

In [34]:
len(hibernation_df.endDate.unique())

2180

In [35]:
len(hibernation_df.startDate.unique())

2180

There are 2180 unique startDate and endDate values in the hibernation dataset.

In [36]:
len(roost_df.endDate.unique())

1930

In [37]:
len(roost_df.startDate.unique())

1930

There are 1930 unique startDate and endDate values in the roost dataset.

The determiner columns:

In [38]:
hibernation_df.determiner.unique()

array([ nan])

In [39]:
roost_df.determiner.unique()

array([ nan])

The determiner column is NaN for both datasets so does not appear to be useful.

The featureKey columns:

In [40]:
#hibernation_df.featureKey.unique()

In [41]:
roost_df.featureKey.unique()

array([129467, 130452, 160033, ..., 849696, 811992, 665485], dtype=int64)

It is not clear what the featureKey column is for but it does not seem useful.

The fullVersion columns:

In [42]:
hibernation_df.fullVersion.unique()

array([False], dtype=object)

In [43]:
roost_df.fullVersion.unique()

array([False], dtype=object)

Some of the data is restricted due to vulnerable species and to protect the privacy of land owners as stated in the metadata. So it seems this column just states that it is not the full version of the data.

The gridRefernce columns:

In [44]:
len(hibernation_df.gridReference.unique())

350

In [45]:
len(roost_df.gridReference.unique())

2026

Each gridReference is for a unique site and there are 350 in the hibernation dataset and 2026 in the rooost dataset.

The observationID columns:

In [46]:
len(hibernation_df.observationID.unique())

22899

In [47]:
len(roost_df.observationID.unique())

23679

Each observation of a bat has an observationID so there are 22,899 bats recorded in the hibernation data and 23,679 in the roost data.

The organisationName columns:

In [48]:
hibernation_df.organisationName.unique()

array(['The Bat Conservation Trust'], dtype=object)

In [49]:
roost_df.organisationName.unique()

array(['The Bat Conservation Trust'], dtype=object)

Both datasets have unsurprisingly  the same value repeated for the organisationName column so it is not useful.

The pTaxonVersionKey columns:

In [50]:
hibernation_df.pTaxonVersionKey.unique()

array(['NBNSYS0100004720', 'NHMSYS0020001355', 'NHMSYS0000528026',
       'NHMSYS0000080178', 'NHMSYS0020001356', 'NBNSYS0000005102',
       'NHMSYS0000528028', 'NHMSYS0000376160', 'NHMSYS0000528008',
       'NHMSYS0000080176', 'NBNSYS0000005103', 'NBNSYS0000136687',
       'NHMSYS0000080177', 'NHMSYS0000528024', 'NHMSYS0000528030',
       'NHMSYS0000080184', 'NHMSYS0000080182', 'NHMSYS0000080185',
       'NHMSYS0000080183', 'NBNSYS0000040730', 'NHMSYS0000080186'], dtype=object)

In [51]:
hibernation_df.pTaxonVersionKey.unique()

array(['NBNSYS0100004720', 'NHMSYS0020001355', 'NHMSYS0000528026',
       'NHMSYS0000080178', 'NHMSYS0020001356', 'NBNSYS0000005102',
       'NHMSYS0000528028', 'NHMSYS0000376160', 'NHMSYS0000528008',
       'NHMSYS0000080176', 'NBNSYS0000005103', 'NBNSYS0000136687',
       'NHMSYS0000080177', 'NHMSYS0000528024', 'NHMSYS0000528030',
       'NHMSYS0000080184', 'NHMSYS0000080182', 'NHMSYS0000080185',
       'NHMSYS0000080183', 'NBNSYS0000040730', 'NHMSYS0000080186'], dtype=object)

Seems to be the taxon version that is being used. I don't think this will be useful.

# Differences in precision values

The precision columns:

In [52]:
hibernation_df.precision.unique()

array(['10km'], dtype=object)

In [53]:
roost_df.precision.unique()

array(['1km', '10km'], dtype=object)

In [54]:
roost_df.gridReference[roost_df['precision']=='1km'].count()

23674

In [55]:
roost_df.gridReference[roost_df['precision']=='10km'].count()

5

The roost data has 23,674 observations at 1km and 5 observations at 10km.

In [56]:
roost_df.gridReference[roost_df['precision']=='10km']

121     ST76
122     ST76
1074    SE30
1075    SE30
1076    SE30
Name: gridReference, dtype: object

Only two sites are at a 10km precision.

The precision to which the data is given is restricted due to sensitive species and privacy reasons as discussed above.

Given the above stated low number of values I have elected to keep the data that is at a 10km precision.

The recordKey columns:

In [57]:
len(hibernation_df.recordKey.unique())

22899

In [58]:
len(roost_df.recordKey.unique())

23679

Both datasets have a unique record key for each row.

The recorder columns:

In [59]:
hibernation_df.recorder.unique()

array([ nan])

In [60]:
roost_df.recorder.unique()

array([ nan])

This is likely the name of the person who recorded the observation either way it is a NaN value in both datasets and therefore not useful.

The sampleKey columns:

In [61]:
hibernation_df.sampleKey.unique()

array([1], dtype=int64)

In [62]:
roost_df.sampleKey.unique()

array([1], dtype=int64)

The sampleKey columns just repeat the same value and as such are not useful.

The sensitive columns:

In [63]:
hibernation_df.sensitive.unique()

array([False], dtype=object)

In [64]:
roost_df.sensitive.unique()

array([False], dtype=object)

Just indicates that this dataset does not contain sensitive information as this is the restricted dataset.

The siteName columns:

In [65]:
hibernation_df.siteName.unique()

array([    nan,  10032.,  10461.,  10393.,  10431.,  10394.,  30144.,
        10030.,  10131.,  20036.,  10374.,  10357.,  10436.,  10056.,
        10238.,  20003.,  52056.,  30268.,  10132.,  10389.,  10353.,
        10355.,  20001.,  10421.,  10058.,  10536.,  10483.,  10484.,
        10535.,  30338.,  10359.,  30062.,  30118.,  30126.,  10057.,
        10059.,  30350.,  30351.,  10397.,  10481.,  10513.,  10534.,
        30420.,  30319.,  30096.,  30170.,  30072.,  10053.,  10139.,
        30213.,  30340.,  10054.,  30067.,  10212.,  10453.,  20002.,
        30285.,  10140.,  30328.,  10060.,  10055.,  10136.,  30054.,
        30065.,  30039.,  30066.,  10153.,  30008.,  30344.,  10352.,
        20042.,  10324.,  10354.,  10560.,  30394.,  10563.])

In [66]:
len(hibernation_df.siteName.unique())

76

In [67]:
hibernation_df.siteName.unique()

array([    nan,  10032.,  10461.,  10393.,  10431.,  10394.,  30144.,
        10030.,  10131.,  20036.,  10374.,  10357.,  10436.,  10056.,
        10238.,  20003.,  52056.,  30268.,  10132.,  10389.,  10353.,
        10355.,  20001.,  10421.,  10058.,  10536.,  10483.,  10484.,
        10535.,  30338.,  10359.,  30062.,  30118.,  30126.,  10057.,
        10059.,  30350.,  30351.,  10397.,  10481.,  10513.,  10534.,
        30420.,  30319.,  30096.,  30170.,  30072.,  10053.,  10139.,
        30213.,  30340.,  10054.,  30067.,  10212.,  10453.,  20002.,
        30285.,  10140.,  30328.,  10060.,  10055.,  10136.,  30054.,
        30065.,  30039.,  30066.,  10153.,  30008.,  30344.,  10352.,
        20042.,  10324.,  10354.,  10560.,  30394.,  10563.])

In [68]:
len(roost_df.siteName.unique())

200

It seems likely that the siteName column contains a key for each site and that some of them have been removed. But either way this column doesn't seem useful. 

Furthermore I have decided to use grid reference as the basis for differentiating sites as this is a value that all observations in both datasets have.

The surveyKey columns:

In [69]:
hibernation_df.surveyKey.unique()

array([1], dtype=int64)

In [70]:
roost_df.surveyKey.unique()

array([1], dtype=int64)

Same value repeated, not useful.

The taxonGroup columns:

In [71]:
hibernation_df.taxonGroup.unique()

array(['terrestrial mammal'], dtype=object)

In [72]:
roost_df.taxonGroup.unique()

array(['terrestrial mammal'], dtype=object)

Same value repeated, not useful.

# Name columns

The commonName columns:

In [73]:
hibernation_df.commonName.unique()

array(['Soprano Pipistrelle', 'Common Pipistrelle', "Brandt's Bat",
       'Western Barbastelle', 'Pipistrelle', 'Brown Long-eared Bat',
       "Daubenton's Bat", 'Bat', 'Serotine', 'Greater Horseshoe Bat',
       'Grey Long-eared Bat', 'Long-eared Bat species',
       'Lesser Horseshoe Bat', "Bechstein's Bat", "Whiskered/Brandt's Bat",
       "Natterer's Bat", 'Mouse-eared Bat', 'Lesser Noctule',
       'Whiskered Bat', 'Myotis Bat species', 'Noctule Bat'], dtype=object)

In [74]:
roost_df.commonName.unique()

array(['Brown Long-eared Bat', 'Common Pipistrelle', 'Pipistrelle',
       'Soprano Pipistrelle', "Natterer's Bat", 'Lesser Horseshoe Bat',
       'Serotine', 'Greater Horseshoe Bat', 'Noctule Bat', 'Whiskered Bat',
       'Bat', "Daubenton's Bat", 'Lesser Noctule', "Brandt's Bat",
       "Whiskered/Brandt's Bat", 'Grey Long-eared Bat', "Bechstein's Bat"], dtype=object)

# Differences in name columns

The commonName columns contains for each respective dataset do not contain the same number of values. I think that taxonName may be a more appropriate choice for identifying the bat species.

In [75]:
hibernation_df.taxonName.unique()

array(['Pipistrellus pygmaeus', 'Pipistrellus pipistrellus sensu stricto',
       'Myotis brandtii', 'Barbastella barbastellus',
       'Pipistrellus pipistrellus sensu lato', 'Plecotus auritus',
       'Myotis daubentonii', 'Chiroptera', 'Eptesicus serotinus',
       'Rhinolophus ferrumequinum', 'Plecotus austriacus', 'Plecotus',
       'Rhinolophus hipposideros', 'Myotis bechsteinii',
       'Myotis mystacinus/brandtii', 'Myotis nattereri', 'Myotis myotis',
       'Nyctalus leisleri', 'Myotis mystacinus', 'Myotis',
       'Nyctalus noctula'], dtype=object)

In [76]:
roost_df.taxonName.unique()

array(['Plecotus auritus', 'Pipistrellus pipistrellus sensu stricto',
       'Pipistrellus pipistrellus sensu lato', 'Pipistrellus pygmaeus',
       'Myotis nattereri', 'Rhinolophus hipposideros',
       'Eptesicus serotinus', 'Rhinolophus ferrumequinum',
       'Nyctalus noctula', 'Myotis mystacinus', 'Chiroptera',
       'Myotis daubentonii', 'Nyctalus leisleri', 'Myotis brandtii',
       'Myotis mystacinus/brandtii', 'Plecotus austriacus',
       'Myotis bechsteinii'], dtype=object)

So it seems that the taxonName columns also contain a different number of values.

Why these bat species are present in the hibernation data but not the roost data is unclear. 

For the purpose of comparing the two datasets having bat species present in one and not the other is not useful. So the data for bat species that are not present in both data sets will be removed after shaping the tables.

The zeroAbundance columns:

In [77]:
hibernation_df.zeroAbundance.unique()

array([False], dtype=object)

In [78]:
roost_df.zeroAbundance.unique()

array([False], dtype=object)

Each row in the datasets is for a specific bat observation so natrually zero abundance is always false. So this column is not very useful.

The dataset key columns.

In [79]:
hibernation_df.datasetKey.unique()

array(['GA000612'], dtype=object)

In [80]:
roost_df.datasetKey.unique()

array(['GA000616'], dtype=object)

# Changing the data type of the date values for each dataset

In [81]:
hibernation_df['startDate'] = pd.to_datetime(hibernation_df['startDate'])
hibernation_df['endDate'] = pd.to_datetime(hibernation_df['endDate'])
hibernation_df['year'] = hibernation_df['endDate'].dt.year

In [82]:
roost_df['startDate'] = pd.to_datetime(roost_df['startDate'])
roost_df['endDate'] = pd.to_datetime(roost_df['endDate'])
roost_df['year'] = roost_df['endDate'].dt.year

# Shaping the dataframes by selecting the useful columns

In [83]:
columns = hibernation_df.columns.tolist()
columns = ['observationID', 'gridReference', 'year', 'taxonName']
columns

hibernation_short_df = hibernation_df[columns]

hibernation_short_df.tail(5)

       observationID gridReference  year                   taxonName
22894      463184995          TQ35  2013  Myotis mystacinus/brandtii
22895      463185027          TQ21  2005  Myotis mystacinus/brandtii
22896      463185029          TQ21  2005  Myotis mystacinus/brandtii
22897      463185031          TQ31  2005  Myotis mystacinus/brandtii
22898      463185032          TQ31  2008  Myotis mystacinus/brandtii

In [84]:
roost_df.head()

columns = roost_df.columns.tolist()
columns = ['observationID', 'gridReference', 'year', 'taxonName']
columns

roost_short_df = roost_df[columns]
roost_short_df.tail(5)

       observationID gridReference  year                   taxonName
23674      463209487        ST1821  2011  Myotis mystacinus/brandtii
23675      463209488        ST1821  2010  Myotis mystacinus/brandtii
23676      463209489        ST1821  2010  Myotis mystacinus/brandtii
23677      463209975        SX8166  2004    Rhinolophus hipposideros
23678      463209976        SX8166  2004    Rhinolophus hipposideros

# Removing taxonName values from the hibernation dataset that are not also in the roost dataset

In [85]:
to_delete = set(hibernation_short_df['taxonName'].unique().tolist()) - set(roost_short_df['taxonName'].unique().tolist())
to_delete

{'Barbastella barbastellus', 'Myotis', 'Myotis myotis', 'Plecotus'}

In [86]:
hibernation_reduced_df = hibernation_short_df[~hibernation_short_df['taxonName'].isin(to_delete)]

Checking that the number of bat species in the hibernation dataset is now 17.

In [87]:
len(hibernation_reduced_df['taxonName'].unique())

17

# Time factors

In [88]:
hibernation_reduced_df['year'].sort_values().unique()

array([1964, 1965, 1966, 1967, 1968, 1969, 1970, 1972, 1973, 1974, 1975,
       1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986,
       1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997,
       1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008,
       2009, 2010, 2011, 2012, 2013, 2014], dtype=int64)

In [89]:
roost_short_df['year'].sort_values().unique()

array([1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987,
       1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998,
       1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009,
       2010, 2011, 2012, 2013, 2014], dtype=int64)

The hibernation datasets covers a longer period of time. I'm not sure the difference in time span is significant and in any case the data is for different areas.

So far I have elected to retain the data for the hibernation sites that predates that for roost sites. I have done this because both data sets start out with very few observations.

The risk of retaining the data for hibernation sites is that there could be a temporal skew in the data. That is there may have been historical factors that affected certain species of bats disproportionately at different times. 

But this is speculation on my part and I still believe that retaining the earlier data in the hibernation set will provide a better average picture of species abundance relative to roost sites.

Furthermore both data sets also have a similar number of bats 22,139 for hibernation sites vs 23,679 for roost sites despite the larger area in the roost dataset.

# How do the two datasets compare over time?

In [90]:
roost_by_year = roost_short_df.groupby(['year'])['taxonName'].count()
roost_by_year_df = roost_by_year.to_frame()
type(roost_by_year_df)
roost_by_year_df = roost_by_year_df.rename(columns = {'taxonName': 'roost_abundance'})
#roost_by_year_df

In [91]:
hibernation_by_year = hibernation_short_df.groupby(['year'])['taxonName'].count()
hibernation_by_year_df = hibernation_by_year.to_frame()
hibernation_by_year_df = hibernation_by_year_df.rename(columns = {'taxonName': 'hibernation_abundance'})
#hibernation_by_year_df

In [92]:
combined_abundance_year = pd.concat([hibernation_by_year_df, roost_by_year_df], axis=1, join='outer')
combined_abundance_year.transpose()

year,1964,1965,1966,1967,1968,1969,1970,1972,1973,1974,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
hibernation_abundance,4.0,5.0,4.0,6.0,4.0,4.0,5.0,4.0,5.0,9.0,...,1011.0,1206.0,1133.0,1313.0,1336.0,1452.0,1427.0,1402.0,1451.0,1119.0
roost_abundance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1306.0,1377.0,1392.0,1498.0,1555.0,1519.0,1461.0,1274.0,1368.0,1362.0

In [93]:
combined_abundance_year.plot(figsize=(18,10))

The two lines show a similar rise in the number of bats over time although with variations in their relative shapes.

A noticeable factor is that the roost data despite being for a shorter time span than the hibernation data actually has more recorded bats. This is likely due to the roost data covering more sites and a larger geographical area.

How about the variation in species abundance in the two datasets? Is the composition of hibernation sites different than roost sites?

In [94]:
hs_df = hibernation_reduced_df.groupby(['taxonName'])['taxonName'].count()

In [95]:
hibernation_count = hs_df.to_frame()

In [96]:
rs_df = roost_short_df.groupby(['taxonName'])['taxonName'].count()

In [97]:
roost_count = rs_df.to_frame()

In [98]:
roost_count = roost_count.rename(columns = {'taxonName': 'roost_abundance'})
#roost_count

In [99]:
hibernation_count = hibernation_count.rename(columns = {'taxonName': 'hibernation_abundance'})
#hibernation_count

In [100]:
combined_abundance = pd.concat([hibernation_count, roost_count], axis=1, join='outer')
combined_abundance

,hibernation_abundance,roost_abundance
taxonName,,
Chiroptera,557,54
Eptesicus serotinus,14,1107
Myotis bechsteinii,75,22
Myotis brandtii,135,60
Myotis daubentonii,3945,160
Myotis mystacinus,204,97
Myotis mystacinus/brandtii,1323,33
Myotis nattereri,5056,1040
Nyctalus leisleri,6,11
Nyctalus noctula,7,72
Pipistrellus pipistrellus sensu lato,412,3478
Pipistrellus pipistrellus sensu stricto,109,6475
Pipistrellus pygmaeus,21,4421
Plecotus auritus,2805,1934
Plecotus austriacus,1,5
Rhinolophus ferrumequinum,2963,514
Rhinolophus hipposideros,4506,4196

In [101]:
combined_abundance.plot(kind='bar', figsize=(18,10))
plt.xlabel('Taxon name')
plt.ylabel('Number of bats')

The graph above shows a marked difference in species abundance between the hibernation and roost datasets.

So it appears that the composition of roost and hibernation sites is different.

# But is the difference in species abundance between roost and hibernations sites significant?

The null hypothesis is that it is not any statistically significant difference between roost and hibernation site bat species composition.

This will be tested using Chi-squared to see if the difference between hibernation an roost site abundance for the various bat species are significant.

If the result is not significant then the P-value should be one, meaning that there is no difference between expected and actual abundance.

# Calculating expected values and P value

Generating values that would be expected if the abundances were evenly distributed

In [102]:
#code adapted from notebook 14.3
expected_results = pd.DataFrame({c: {r: (combined_abundance[c].sum() * 
                                                combined_abundance.loc[r].sum() / 
                                                combined_abundance.sum().sum() )
                  for r in combined_abundance[c].index} 
              for c in combined_abundance}
)
expected_results

,hibernation_abundance,roost_abundance
Chiroptera,295.231765,315.768235
Eptesicus serotinus,541.660897,579.339103
Myotis bechsteinii,46.869855,50.130145
Myotis brandtii,94.222904,100.777096
Myotis daubentonii,1983.512921,2121.487079
Myotis mystacinus,145.441508,155.558492
Myotis mystacinus/brandtii,655.211576,700.788424
Myotis nattereri,2945.552927,3150.447073
Nyctalus leisleri,8.214304,8.785696
Nyctalus noctula,38.172356,40.827644
Pipistrellus pipistrellus sensu lato,1879.626129,2010.373871
Pipistrellus pipistrellus sensu stricto,3181.351783,3402.648217
Pipistrellus pygmaeus,2146.349426,2295.650574
Plecotus auritus,2289.858156,2449.141844
Plecotus austriacus,2.899166,3.100834
Rhinolophus ferrumequinum,1680.066851,1796.933149
Rhinolophus hipposideros,4204.757475,4497.242525

Applying the above actual and expected values to Chi-squared:

In [103]:
scipy.stats.chisquare(combined_abundance, expected_results, axis=None)

Power_divergenceResult(statistic=23797.463852411889, pvalue=0.0)

This produces a P value of 0.0 meaning that the difference between the composition of the roost and hibernation dataset is statistically significant.

So it seems that hibernation and roost sites do have a statistically significant different abundance of species relative to one another and so a different composition.

There is a problem with applying Chi-squared with combined values that are less than 5 as this can give unreliable results. This should not have affected the result however as only one of the categorical values was less than 5.

The result is also of limited value as it says nothing about why they are different.